/* Hero Section */
.hero {
    background-color: #DEE8FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: 5rem;
    min-height: fit-content;
    border-radius: 1.5625rem;
}

/* Hero Content (Text + Button) */
.hero-content {
    width: fit-content;
    text-align: left;
    z-index: 2;
    margin-right: -22vw;
    padding-left: 8vw;

}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;

}

.hero-content h1 {
    font-size: 3.8rem;
    color: #333333;
    font-weight: 700;
    text-align: left;
}

.hero-content h1 span {
    color: #022C87;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem 0;
    color: #333333;
    text-align: left;

}

/* Hero Button */
.hero-button {
    background-color: #022C87;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.hero-button:hover {
    background-color: #011D5F;
}

/* Hero Image */
.hero-image img {
    width: auto;
    height: 95vh;
    margin-top: 5vw;
}

@media (min-width: 2560px) {

    .hero {
        margin-top: 6rem;
    }

    .hero-image img {
        width: auto;
        height: 80vh;
        margin-top: 4vw;
    }

    .hero-content h1 {
        font-size: 7.5rem;
    }

    .hero-content p {
        font-size: 2rem;
        margin: 3rem 0;
    }

    .hero-button {
        background-color: #022C87;
        color: white;
        padding: 28px 40px;
        border: none;
        border-radius: 20px;
        font-size: 2rem;
        cursor: pointer;
        transition: background 0.3s;
    }

}


@media (max-width: 1024px) {

    .hero {
        margin-top: 3rem;
    }

    .hero-image img {
        width: auto;
        height: 80vh;
        margin-top: 4vw;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 0.8rem;
        margin: 2rem 0;
    }

    .hero-button {
        background-color: #022C87;
        color: white;
        padding: 8px 20px;
        border: none;
        border-radius: 5px;
        font-size: 0.8rem;
        cursor: pointer;
        transition: background 0.3s;
    }

}


@media (max-width: 900px) {

    .hero {
        margin-top: -3rem;
    }

    .hero-image img {
        width: auto;
        height: 65vh;
        margin-top: 4vw;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 0.6rem;
        margin: 2rem 0;
    }

    .hero-button {
        padding: 8px 20px;
        font-size: 0.6rem;
    }

}


/* Responsive Design */
@media (max-width: 767px) {

    .hero {
        flex-direction: column;
        margin-top: -10rem;
        text-align: center;
        padding: 1.5rem 1rem;
    }

    .hero-content {
        width: fit-content;
        text-align: left;
        z-index: 2;
        margin-right: 0;
        padding-left: 4vw;

    }


    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
        margin: 2rem 0;
    }

    .hero-button {
        padding: 8px 20px;
        font-size: 1rem;
        border-radius: 10px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image {
        display: none;
    }
}
